*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.section-1 {
  background-color: #f3eed9;
}

.container {
  max-width: 1128px;
  width: 80%;
  margin: 0px auto;
}

.hero {
  padding: 10em 0em;
  text-align: center;
}

.section-1 p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
}

.section-1 h1 {
  font-size: 60px;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #824936;
}

.section-2 h1 {
  font-size: 36px;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #824936;
}

.section-2--title {
  padding: 4em 0em 3em 0em;
  text-align: center;
}

.row {
  display: flex;
}

.section-2--text {
  margin-bottom: 5em;
  font-size: 21px;
  font-family: "Roboto";
  font-weight: 400;
}

.section-2--text + .section-2--text {
  margin-left: 3em;
}

.section-3 {
  padding: 4em 0em;
  background-color: #222c2a;
}

.section-3--text h1,
.section-4--text h1 {
  font-size: 36px;
  font-family: "Playfair Display";
  font-weight: 900;
  color: white;
  margin-bottom: 1em;
}

.section-3--text p,
.section-4--text p {
  font-size: 21px;
  font-family: "Roboto";
  font-weight: 400;
  color: white;
}

.section-3--text,
.section-4--text {
  width: 50%;
}

.section-3--img,
.section-4--img {
  width: 50%;
  margin-left: 3em;
}

.change-margin {
  margin-left: 0px;
  margin-right: 3em;
}

img {
  width: 100%;
}

.section-4 {
  padding: 4em 0em;
  background-color: #824936;
}

/* Media Query */
@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  .section-2--text {
    margin-bottom: 3em;
  }

  .section-2--text + .section-2--text {
    margin-left: 0em;
  }

  .section-1 h1 {
    font-size: 35px;
  }
  .section-1 p {
    font-size: 16px;
  }

  .section-2 h1,
  .section-3--text h1,
  .section-4--text h1 {
    font-size: 25px;
  }

  .section-2--text,
  .section-3--text p,
  .section-4--text p {
    font-size: 16px;
  }

  .section-3--text,
  .section-4--text {
    width: 100%;
  }

  .section-3--img,
  .section-4--img {
    width: 100%;
    margin: 3em auto 0em 0em;
  }

  .change-margin {
    margin: 0em auto 3em 0em;
  }

  .container {
    max-width: 700px;
    width: 80%;
    margin: 0px auto;
  }
}
